h1, p, body {
			font-family: sans-serif;
		}

		body {
			background-color: #eee;
		}
		.list {
			background-color: #FFF;
			width: 48.944882%;
      min-width:380px; 
			margin: 0 auto;
      margin-top: -20px;
			padding: 2%;
			box-shadow: 0 0 4px 0 #333;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px; 
		}
		h1 {
			text-align: center;
      font-size: 1.8em;
		}
		input, textarea, select {
      border: 1px solid #555;
      padding: 0.3em;
      font-size: 1.2em;
      line-height: 1em;
      font-style: italic;
      width: 95%;
      background: #fff;
      color: #999;      
    }